body {
	font-family: Arial;
	margin: 30px;
}

h1 {
	color: #D33381;
	border-bottom: black 3px dotted;
}

p {
display: block;
}

a.webservice {

font-family: Arial;
font-size:80px
color:CornflowerBlue
}